@media(max-width:720px) {

    .oficina {

        background-image: url(/img/imagem.png);
        background-repeat: no-repeat;
        background-size: 100%;


   


    }
    .imm {

        width: 50;
        height: 50;
        margin-left: -30;
    }


}

