
:root 
 {
    background: #363636;
   

}

.image {
    content: url('/img/roda.svg');
  }

.oficina {

   
    background-repeat: no-repeat;
    background-size: cover;
    height: 800;
    background-attachment: fixed;

}


.root{
    color: white;
}

.global,.globall {

    color: #E6833E;

}

.btn-personalizado {
    width: 309px;
    height: 56px;
    background: #E6833E;
    border-radius: 22px;


}

.btn-personalizado:hover {
    width: 309px;
    height: 56px;
    background: white;
    color: black;
    border-radius: 22px;


}

.btn-personalizadohero {

    background-image: url(/img/bot.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 250;
    height: 80px;

}

.btn-personalizadohero:hover {

    background-image: url(/img/botlaranja.svg);

    background-repeat: no-repeat;
    background-size: 100%;
    width: 250;
    height: 80px;

}

.nav-link {

    color: white;
}

.nav-item :hover {

    color: #E6833E;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #E6833E;
    --bs-nav-pills-link-active-bg: transparent;
}


.rotate-center {
  

    -webkit-animation: rotate-center .6s ease-in-out both;
    animation: rotate-center .6s ease-in-out both
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}



.containerpersonalizado {
  
    background: #1B1B1B;
    box-shadow: -21px 24px 84px 11px #000000;
}

.text {
margin: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

}

.img1 {
 
    background-image: url(img/of1.png);
    background-repeat: no-repeat;
    background-position: center;
    
    


}

.fs-2{
color: white;
    mix-blend-mode: difference;
}


.img2 {
    background-image: url(/img/of2.png);
    background-repeat: no-repeat;
    background-position: center;


}

.img3 {
    background-image: url(/img/of3.png);
    background-repeat: no-repeat;
    background-position: center;
   
  
}

.card{

    background-color: transparent;
    border: transparent;
   
    height: 300;
    
}


.parent:hover .rotate-center {
   
    -webkit-animation: rotate-center .1s infinite ;
    animation: rotate-center .1s infinite 
}


@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}




/* dark light */

		/* Default light theme */
      
        :root {
            --secondary-color: #E6833E;
            --text-color: white;
            --background-image: url(/img/imagem.png);
            --background-image2: url(/img/botlaranja.svg);
           --content: url('/img/roda.svg');
          --text-color2:black;



           
        }
        /* Dark theme */
        [theme="dark"] {
            --primary-color: rgb(249, 246, 246);
            --secondary-color: black;
            --text-color: #070707;
            --background-color: #f6f6f6;
            --heading-color: #818cab;
            --background-image: url(/img/oficina2.png);
            --background: white;
            --background-image2: url(/img/botblack.svg);
         
            --content: url('/img/rodablack.svg');
        }
        
        /* Adding css variable in our webpage */
        body {
            background-color: var(--background-color);
            
        }
        
        .global {
            color: var(--secondary-color);
        }
        
        

        .roote{
            color: var(--text-color)!important;

        }
        
        .oficina{

            background-image: var(--background-image);
        }


        @media(max-width:720px) {

            .oficina {
        
                background-image: var(--background-image);
           
        
        
            }
           
            .dark-mode{

                color: var(--text-color)!important;
            } 
        
        }
        



















        
        .btn-personalizadohero:hover {

            background-image: var(--background-image2);
        }

.image{
    content: var(--content);
}
        
        .containerpersonalizado {

            background: var(--background);
        }

       


        .theme-slider {
            display: inline-block;
            height: 34px;
            position: relative;
            width: 60px;
        }
        
        .theme-slider input {
            display: none;
        }
        
        .slider {
            background-color: #0000;
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: .4s;
        }
        
        .slider:before {
            background-color: #fff;
            bottom: 4px;
            content: "";
            height: 26px;
            left: 4px;
            position: absolute;
            transition: .4s;
            width: 26px;
        }
        
        input:checked+.slider {
            background-color: rgb(174, 174, 174);
            
        }
        
        input:checked+.slider:before {
            transform: translateX(26px);
        }
        
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }

