
:root 
 {
    background: #363636;
   

}

.image {
    content: url('/img/roda.svg');
  }

.oficina {

   
    background-repeat: no-repeat;
    background-size: cover;
    height: 800;
    background-attachment: fixed;

}


.root{
    color: white;
}

.global,.globall {

    color: #E6833E;

}

.btn-personalizado {
    width: 309px;
    height: 56px;
    background: #E6833E;
    border-radius: 22px;


}

.btn-personalizado:hover {
    width: 309px;
    height: 56px;
    background: white;
    color: black;
    border-radius: 22px;


}

.btn-personalizadohero {

    background-image: url(/img/bot.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 250;
    height: 80px;

}

.btn-personalizadohero:hover {

    background-image: url(/img/botlaranja.svg);

    background-repeat: no-repeat;
    background-size: 100%;
    width: 250;
    height: 80px;

}

.nav-link {

    color: white;
}

.nav-item :hover {

    color: #E6833E;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #E6833E;
    --bs-nav-pills-link-active-bg: transparent;
}


.rotate-center {
  

    -webkit-animation: rotate-center .6s ease-in-out both;
    animation: rotate-center .6s ease-in-out both
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}



.containerpersonalizado {
  
    background: #1B1B1B;
    box-shadow: -21px 24px 84px 11px #000000;
}

.text {
margin: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

}

.img1 {
 
    background-image: url(/img/of1.png);
    background-repeat: no-repeat;
    background-position: center;
    
    


}

.fs-2{
color: white;
    mix-blend-mode: difference;
}


.img2 {
    background-image: url(/img/of2.png);
    background-repeat: no-repeat;
    background-position: center;


}

.img3 {
    background-image: url(/img/of3.png);
    background-repeat: no-repeat;
    background-position: center;
   
  
}

.card{

    background-color: transparent;
    border: transparent;
   
    height: 300;
    
}


.parent:hover .rotate-center {
   
    -webkit-animation: rotate-center .1s infinite ;
    animation: rotate-center .1s infinite 
}


@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}






